body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('svgs/background.svg') #edeff0;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  }
  /*a:hover, header nav ul li:hover {
    color: #111;
    fill: #111;
  }*/
  header nav ul li:hover a, header nav ul li:hover a svg path{
    color: #111;
    fill:#111;
    /*transform: scale(5, .2);*/
    transition: ease-in-out 900ms;
    transform: rotate(80deg);
    /*transform: scaleY(2);*/
    transform-origin: 50% 50%;
  }
  header nav ul li a svg path{
    transition: 800ms;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }

header {
  padding-top: 10px;
}
  header nav {
    padding-bottom: 50px;
    text-align: left;
  }
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }

  header nav ul li a svg{
    height: 13px;
  }

  header h1 {
    line-height: 1em;
  }

main {
  padding-top: 50px;
}
  main h2 {
  font-size: 28px;
}
  main ul {
    padding: 0;
  }
    main li {
      display: inline-block;
      color: #ba8058;
      margin-right: 20px;
    }
      main li img {
        margin-bottom: 15px;
      }
      main li span {
        margin-left: -40px;
      }
      main li:last-child {
        margin-right: 0;
      }

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

/*Hide text for mobile*/
#Layer_4 g:nth-child(3) {
  visibility: hidden;
}
header h1:nth-child(2) {
  color: #EAAA7F;
  visibility: visible;
}


/*Dog Colors*/
.dog-face { fill:#FBFEFF;}
.dog-eyes { fill:#2D3339;}

/*Black and Tan*/
.dog-black-tan { fill:#B12331;}
.dog-black-tan-eye-brows { fill:#52595F;}
.dog-black-tan-eyes {fill:#52595F}

/*Stable*/
.dog-stable { fill:#6b5b46;}
.dog-stable-eye-brows { fill:#BA8058;}

/*Fawn*/
.dog-fawn { fill:#8c8378;}
.dog-fawn-eye-brows { fill:#F4C6A6;}

/*Red*/
.dog-red { fill:#cea26d;}
.dog-red-eye-brows { fill:#EAAA7F;}


/*Media Queries*/
@media (min-width: 425px) {
  #Layer_4 g:nth-child(3){
    visibility: visible;
  }
  /*hide text for * < mobile*/
  header h1:nth-child(2) {
    visibility: hidden;
    display: none;
  }
}
